.b-box{
    background: rgba(251, 184, 72, 0.25);
    height: 180px;
    padding: 30px;
}

.b-1{
    border-right: 2px solid #FFFFFF;
    height: 120px;
    width: 33%;
    padding-top: 10px;
    text-align: center;
}
.b-3{
    height: 120px;
    width: 33%;
    padding-top: 10px;
    text-align: center;
}

.time-fl{
    margin-top: 20px;
    height: 60px;
    padding-top: 14px;
}

.date-input{
    border-radius: 10px;
    width: 180px;
    height: 35px;
    margin-top: -10px;
    padding-left: 5px;
    padding-right: 5px;
    color: #908f8c;
    border: 1px solid #908f8c;
    outline: none;
}

.sel-list{
    border-bottom: 1px solid #C4C4C4;
    height: 60px;
    padding-top: 20px;
}

.fil{
    border: 1px solid black;
    padding: 5px 5px;
    border-radius: 5px;
}

.detail-btn{
    background-color: #FBB848;
    border: none;
    padding: 5px 25px;
    color: white;
    margin-top: -10px !important;
    border-radius: 5px;
    height: 40px;
    
}

.ad-top{
    background-color: red;
    color: white;
    width: 21px;
    height: 22px;
    font-weight: 700;
    margin-left: 300px !important;
}