.ava-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: -10px;
}
.SPaid{
    font-weight: 700;
    color: green;
}
.SHold{
    font-weight: 700;
    color: yellow;
}
.SUnpaid{
    font-weight: 700;
    color: red;
}